<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:insert="fragmentTemplate :: stylesheet">
    <link th:insert="fragmentTemplate :: stylesheet2">
    <title>AdminControlCenter</title>
</head>
<body class="has-navbar-fixed-top">

<nav th:insert="fragmentTemplate :: navbar"></nav>


<section th:insert="fragmentTemplate :: hero"></section>
<br>

<section class="myContainer">
    <h1 class="is-size-4">Add a new Blog-Post</h1>
    <br>

    <div th:if="${!(sessionUser == null)}">
        <div th:if="${sessionUser.isAdmin()}">
            <form th:action="@{/newpost}" th:object="${newPost}" method="post">
                Title: <input type="text" th:field="*{title}"><br/>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                <textarea rows="5" cols="40" spellcheck="true" th:field="*{content}"></textarea>
                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p><br>
                <button type="submit">Submit Post</button>
            </form>
        </div>
    </div>
    <br>
    <br>

<h2 class="is-size-5">Table to change admin-status</h2>
<table>
    <tr>
        <td>
            User &nbsp &nbsp
        </td>
        <td>
            isAdmin?
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.username}"></td>
            <span>&nbsp &nbsp</span>
            <td th:text="${user.isAdmin()}"></td>
            <td>
                <form th:action="@{/admin}" method="post">
                    <input type="hidden" th:name="usernameToChange" th:value="${user.username}">
                    <button>changeAdmin</button>
                </form>
            </td>
        </tr>
    </th:block>
</table>

</section>

</body>
</html>