<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:fragment="stylesheet" rel="stylesheet" href="/bulmaStylesheet.css">
    <link th:fragment="stylesheet2" rel="stylesheet" href="/myStylesheet.css">
    <title>Title</title>
</head>
<body>


<section th:fragment="hero" class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                The Cool Blog of Luke and Anabel
            </h1>
            <h2 class="subtitle">
                <div th:switch="${sessionUser}">
                    <h2 th:case="null">Hello User</h2>
                    <h2 th:case="*">Hello <span th:text="${sessionUser.username}"></span></h2>
                </div>
            </h2>
        </div>
    </div>
</section>


<nav th:fragment="navbar" class="navbar is-fixed-top is-dark">
    <div class="navbar-start">
        <a class="navbar-item" href="/">
            Home
        </a>
        <a class="navbar-item" href="/login" th:if="${sessionUser == null}">
            Login
        </a>
        <a class="navbar-item" href="/register" th:if="${sessionUser == null}">
            Register
        </a>
        <th:block th:if="${!(sessionUser == null)}">
        <a class="navbar-item" href="/admin" th:if="${sessionUser.isAdmin()}">
            Admin ControllCenter
        </a>
        </th:block>
        <a class="navbar-item" href="/logout" th:if="${!(sessionUser == null)}">
            Logout
        </a>

    </div>
</nav>


</body>
</html>