<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:insert="fragmentTemplate :: stylesheet">
    <title>Blog</title>
</head>
<body class="has-navbar-fixed-top">

<nav th:insert="fragmentTemplate :: navbar"> </nav>
<section th:insert="fragmentTemplate :: hero"></section>


<div class="content">
    <ul>
        <li th:each="post : ${posts}">
            <h3 th:text="${post.title}"></h3>
            <p th:text="${post.content}"></p>
            <ul>
                <li th:each="comment : ${post.getComments()}">
                    <p th:text="${comment.content}"></p>
                </li>
            </ul>
            <a th:if="${!(sessionUser == null)}" th:href="@{/post/{id}(id=${post.id})}">Comment</a>
        </li>
    </ul>
</div>

</body>
</html>