<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:insert="fragmentTemplate :: stylesheet">
    <link th:insert="fragmentTemplate :: stylesheet2">
    <title th:text="${post.title}"></title>
</head>
<body class="has-navbar-fixed-top">

<nav th:insert="fragmentTemplate :: navbar"></nav>
<section th:insert="fragmentTemplate :: hero"></section>

<section class="myContainer">
    <br>
    <h3 class="is-size-4" th:text="${post.title}"></h3>
    <p th:text="${post.content}"></p>
    <div th:if="${!(sessionUser == null)}">
        <div th:if="${sessionUser.isAdmin()}">
            <form th:action="@{/updatePost/}" method="post">
                <input type="hidden" th:name="postToUpdate" th:value="${post.id}">
                <button>Update Post</button>
            </form>
            <form th:action="@{/deletePost/}" method="post">
                <input type="hidden" th:name="postToDelete" th:value="${post.id}">
                <button>Delete Post</button>
            </form>
        </div>
    </div>
    <br>
    <ul>
        <li th:each="comment : ${post.getComments()}">
            <p th:text="${comment.content}"></p>
            <div th:if="${!(sessionUser == null)}">
                <div th:if="${sessionUser.getId() == comment.getAuthor().getId() or sessionUser.isAdmin()}">
                    <form th:action="@{/deleteComment/}" method="post">
                        <input type="hidden" th:name="commentToDelete" th:value="${comment.id}">
                        <input type="hidden" th:name="postID" th:value="${post.id}">
                        <button>delete comment</button>
                    </form>
                </div>
            </div>
        </li>
    </ul>
    <br>
    <div th:if="${!(sessionUser == null)}">
        <form th:action="@{/post/{id}(id=${post.id})}" th:object="${comment}" method="post">
            Comment:<br>
            <textarea rows="5" cols="40" spellcheck="true" th:field="*{content}"></textarea>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p><br>
            <button type="submit">Submit Comment</button>
        </form>
    </div>
    <br>
</section>
</body>
</html>